/* 0 - 600px: phone,
600 - 900px> tablet portranit,
900 - 1200px: tablet landscape,
1200px > > : large screen width
*/
html {
  font-size: 62.5%; }
  @media (min-width: 75em) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.26em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: inherit; }

img {
  margin: 0;
  padding: 0; }

.container {
  width: 80%;
  margin: 0 auto; }

.grid-wrapper {
  margin: 0 auto; }
  .grid-wrapper .grid {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box; }
    .grid-wrapper .grid__item {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid black;
      text-align: center; }

.grid-control__color #grid-form {
  display: flex; }

.grid-control__size {
  width: 100%; }
