.grid-wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 4rem;
  margin-bottom: 3rem;

  .grid-header {
    margin-bottom: 2rem;
    text-align: center;

    &__title {
      margin: 3rem 0 2.5rem 4rem;
      color: $color-white-secondary;
      color: $color-white-primary;
    }

    &__seperator {
      height: 0.5rem;
      width: 0.5rem;
      @include border-radius-50percent;
      background-color: $color-primary;
      position: relative;
      display: inline-block;
      margin-bottom: 2.2rem;

      &::before,
      &::after {
        content: "";
        height: 1px;
        width: 5rem;
        background-color: $color-secondary;
        position: absolute;
        top: 50%;
        @include transform-y-minus50percent;
      }

      &::before {
        left: -6rem;
      }

      &::after {
        right: -6rem;
      }
    }
  }

  .grid {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    &::before {
      background-color: $color-black-primary;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      // @include border-radius-50percent;
      @include transform-scale-lg;
      @include transition-delay-sm;
      opacity: 0.8;
    }

    &:hover {
      &::before {
        @include transform-scale-xlg;
        opacity: 0;
      }
    }

    li {
      z-index: 5;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid $color-secondary-light;
      text-align: center;
      @include transition-delay-sm;
    }

    .hover-item {
      background: blueviolet !important;
      color: white;
    }
  }

}

.grid-control {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  padding: 3rem;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 100%,
      rgba(0, 0, 0, 0.6) 100%,
      transparent 50%);
  margin-bottom: 3rem;
  position: relative;

  @include respond-mediaQuery(phone) {
    flex-flow: column;
  }

  #error-message {
    position: absolute;
    left: 50%;
    bottom: 0.5rem;
    @include transform-x-minus50percent;
    color: $color-primary;

    // on screen width <=ipad screen width
    @include respond-mediaQuery(ipad) {
      left: 41%;
    }
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__color,
  &__size,
  &__random-grid {
    padding: 0 1.5rem 0;
    border-right: 1px solid $color-white-secondary;
    border-left: 1px solid $color-white-secondary;

    @include respond-mediaQuery(phone) {
      margin-bottom: 1rem;
      border-left: none !important;
      border-right: none !important;
      padding-bottom: 1rem;
    }
  }

  &__color {
    @include respond-mediaQuery(phone) {
      border-bottom: 1px solid;
    }
  }

  &__color {
    #bg-color {
      width: 4.5rem;
      height: 2.5rem;
      border: none;
      cursor: pointer;
      margin: 0 1rem;
    }

    img {
      margin: 0 1rem;
    }

    label {
      padding-right: 1rem;
    }

    #change-grid-bg-color {
      height: 3.5rem;
      width: 4rem;
      cursor: pointer;
    }
  }

  &__size {
    #grid-size {
      line-height: normal;
      border: 1px solid $color-secondary;
      outline: none;
      display: inline-block;
      margin: 0 2rem;
      text-align: center;
      padding: 0.8rem 1rem;
      width: 10rem;
      line-height: 2rem;


      &:focus {
        outline: 2px dashed blue;
      }
    }

    .error-message {
      padding-right: 1rem;
    }
  }

  &__random-grid {
    @include respond-mediaQuery(phone) {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.grid-info {
  text-align: center;
  padding: 2.5rem 2rem;
  margin-bottom: 3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.6) 100%, transparent 50%);

  .grid-info__list {
    color: $color-grey;
    list-style: none;

    .fa {
      color: $color-primary;
    }
  }
}