.container {
  max-width: 120rem;
  margin: 0 auto;

  @include respond-mediaQuery(tab-landscape) {
    padding: 0 2.5rem;
    width: 100% !important;
  }
}

.btn-primary {
  text-transform: uppercase;
  outline: none;
  padding: 0 1.5rem;
  line-height: 4rem;
  background-color: $color-primary;
  color: $color-white-secondary;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  @include transition-delay-sm;

  &:hover {
    opacity: 1;
    color: $color-primary;
    background-color: $color-white-primary
  }

}