.container {
  width: 80%;
  margin: 0 auto;
}
.grid-wrapper {
  margin: 0 auto;
  position: relative;
  min-height: 58rem;
  .grid {
    // position: absolute;
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 20px;

    &__item {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid black;
      text-align: center;
    }
    .hover-item {
      background: blueviolet !important;
      color: white;
    }
  }
}

.grid-control {
  &__color {
    #grid-form {
      display: flex;
    }
  }
  &__size {
    width: 100%;
  }
}
