.container {
  max-width: 120rem;
  margin: 0 auto;

  @include respond-mediaQuery(tab-landscape) {
    padding: 0 2.5rem;
    width: 100% !important;
  }
}

.btn-primary {
  padding: 1rem 1.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  @include transition-delay-sm;
  font-size: inherit;
  background: $color-white-secondary;

  &:hover {
    background: $color-grey;
  }
}

.wrapper {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
